.admin-entry {
  height: 1px;
  min-height: 100vh;
  padding: 20px 0 35px 20px;
  background: #F4F9FD;

  .logo {
    height: 32px;
    margin: 16px;
    background: rgba(0, 0, 0, 0.2);
  }
  .site-layout .site-layout-background {
    background: unset;
  }
  .site-layout {
    padding-left: 30px;
    padding-right: 40px;
    overflow: scroll;
    //padding: 30px 40px 30px 30px;
  }
}
