@use "sass:math";

.rest-card {
  border-radius: 24px;

  .ant-divider-vertical {
    margin: 0 40px;
  }

  .r-data-cell {
    width: calc((100% - (1px + 40px * 2)) / 2);
  }
}

.user-card {
  max-width: 280px;
  text-align: center;
  border-radius: 24px;
  padding: 8px;

  .user-cell-data {

  }
  .user-cell-text {
    hyphens: auto;
  }
}
//79112256565
//74436934764

//+79112256567
//+75115827100
