// Landing
$ld-theme-color: #F673AD;

// theme color
$theme-color: #20ABFE;

// border grey
$border-gray-color: #ebedf0;

// Mobile
$w-sm-minimum: 375px;
$w-sm: 576px;
$w-md: 768px;
// Desktop
$w-lg: 992px;
$w-xl: 1200px;
$w-xxl: 1600px;
$w-wide: 1920px;

